.footer {
    background-color: $color-primary;
    box-shadow: 0 -1px 2px $color-black;
    display: grid;
    grid-column: full-start / full-end;
    grid-row: body-end / footer-end;
    grid-template-columns: $layout-columns;
    grid-template-rows: 1fr 4.5rem;

    &__section {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: $padding-medium;

        &--disclaimer {
            grid-column: col-start / col-start 3;
            grid-row: 1 / 2;
        }

        // &--keep {
        //     grid-column: col-start 4 / col-end 5;
        // }

        &--contact {
            align-items: flex-end;
            grid-column: col-start 7 / center-end;
        }

        &--copy {
            display: flex;
            grid-column: full-start / full-end;
            grid-row: 2 / -1;
            justify-content: center;
            padding: $padding-small;
            width: 100%;
        }
    }
}

@media(max-width: $second-break) {
    .footer {
        align-items: center;
        display: flex;
        flex-direction: column;

        &__section {

            &--contact {
                display: none;
            }
        }
    }
}