.reviews {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  padding: $padding-medium;

  &__header {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
  }

  &__content {
    grid-row: 2 / 3;
    grid-column: col-start 2 / col-end 7;
  }
}
