.reviews {
  padding: $padding-medium;

  &__container > div:not(:last-child) {
    border-bottom: 1px solid $color-gray-light;
  }
}

@media (max-width: $third-break) {
  .reviews {
    padding: $padding-small;
  }
}
