.testimonial {
  align-items: center;
  display: flex;
  justify-items: center;
  max-width: 50rem;

  &__text {
    margin: $margin-medium;
    max-width: 100%;

    & h4 {
      margin-bottom: $margin-small;
    }
  }
}

@media (min-width: $third-break) and (max-width: $second-break) {
  .testimonial {
    max-width: 35rem;
  }
}

@media (max-width: $third-break) {
  .testimonial {
    max-width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-light;
    }
  }
}
