.testimonial {
    align-items: center;
    display: grid;
    grid-column: col-start 3 / col-end 6;
    grid-template-columns: 1fr 70% 1fr;
    height: 10rem;
    justify-items: center;
    width: 100%;

    &__text {
        margin: $margin-medium;
        width: 100%;

        & h4 {
            text-align: left;
        }

        & p {
            text-align: right;
        }
    }
}