.testimonial {
  align-items: center;
  display: grid;
  grid-column: col-start 1 / col-end 8;
  grid-template-columns: 1fr 80% 1fr;
  height: max-content;
  justify-items: center;
  //   width: 100%;

  &__text {
    margin: $margin-medium;
    width: 100%;

    & h4 {
      margin-bottom: $margin-small;
    }

    // & p {
    //   text-align: right;
    // }
  }
}
