.testimonial {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  height: max-content;
  justify-items: center;

  &__text {
    margin: $margin-medium;
    width: 100%;

    & h4 {
      margin-bottom: $margin-small;
    }
  }
}

@media (max-width: $second-break) {
  .testimonial {
    grid-template-columns: 1fr 75% 1fr;
  }
}

@media (min-width: $third-break) and (max-width: $second-break) {
  .testimonial {
    grid-template-columns: 1fr 75% 1fr;
  }
}

@media (max-width: $third-break) {
  .testimonial {
    grid-template-columns: 100%;
  }
}
