.top {
    align-items: center;
    background-color: $color-primary-lite;
    bottom: 3.5rem;
    border-radius: 20rem;
    box-shadow: 2px 2px 3px rgba($color-black, .5);
    display: flex;
    height: 5rem;
    justify-content: center;
    opacity: 1;
    position: fixed;
    right: 4rem;
    transition: $fade-in-slow ease-in-out;
    width: 5rem;

    &--hide {
        opacity: 0;
    }
}

@media(max-width: $second-break) {
    .top {
        right: 44%;

    }
}